*.csv
**/*.csv
.Rdata
.Rhistory
.Rproj.user
*.Rproj
.syberia
*.DS_Store
*.r.swp
**/*.png
**/README_cache
**/*.html
config/database.yml
tmp/*
.DS_Store
**/.DS_Store
**/s3:
./.registry
Rplots.pdf
*.rds
**/*.rds
**/.Rapp.history
